/* body {
  margin: 0;
  font-family: Arial;
  background: #eef2f7;
}

.header {
  background: #1e293b;
  color: white;
  padding: 18px;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.search-box {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

.employee-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.employee-form input {
  flex: 1;
  padding: 10px;
}

.employee-form button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: aqua;
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.employee-card {
  background: rgb(239, 213, 213);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px gray;
}

.btn-group {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

.btn-group button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: aqua;
}

.message {
  color: green;
  text-align: center;
} */

body {
  margin: 0;
  font-family: Arial;
  background: #9ac7f3;
}

.navbar {
  background: #1e293b;
  color: white;
  padding: 18px;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.search-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.user-form {
  display: grid;
  /* flex-wrap: wrap; */
  gap: 10px;
  margin-bottom: 20px;
}

.user-form input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
}

.user-form button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: aqua;
}

.user-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

  gap: 20px;
}

.user-card {
  background: rgb(249, 151, 151);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px gray;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn-group button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: aqua;
}

.message {
  text-align: center;
  color: green;
}