body {
  margin: 0;
  font-family: Arial;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 15px;
}

.nav-links a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

/* Hero */
.hero {
  background: #111;
  color: white;
  padding: 60px;
  text-align: center;
}

.btn {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Sections */
.section-title {
  text-align: center;
  margin-top: 20px;
}

.featured {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

/* Pages */
.page {
  padding: 20px;
  text-align: center;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Card */
.card {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

/* Highlight cards */
.highlight {
  background: pink;
}

.highlight-green {
  background: lightgreen;
}

/* About */
.about-box {
  background: #eee;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
}

/* Price */
.price {
  color: green;
}

/* Responsive */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .featured {
    flex-direction: column;
    gap: 10px;
  }
}